.bold {
    font-weight: bold;
}

* {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-weight: 400;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #38ADA6;
    color: #ffffff;
    padding: 20px 0;
}

.header_img {
    background-image: url(../assets/logo.png);
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

header h1 span {
    font-weight: bold;
    color: #ffffff;
}

.video-section {
    margin: 20px 0;
}

.video {
    display: inline-block;
    width: 550px;
    height: 320px;
    background-color: #000000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.video-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.video-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.play-button {
    position: absolute;
    background: url("play-button.png") no-repeat center center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.cta-section {
    margin: 20px 0;
}

.button {
    border: none;
    font-style: inherit;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff7b00;
    padding: 10px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.button:hover {
    background-color: #ff4400d3;
    transition: .5s;
}

.students-list {
    background-color: #BACA02;
    padding: 20px 0;
    color: rgb(60, 67, 68);
}

.students-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.students-list span {
    font-weight: bold;
}

.students-list p {
    font-size: 1rem;
    color: rgb(23, 23, 235);
}

.e_titulo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.f_titulo h2 span {
    color: rgb(60, 67, 68);
    font-size: 40px;
}

.s_titulo h2 span {
    color: rgb(56, 173, 166);
    font-weight: bold;
    font-size: 40px;
}

.ctner {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    width: 100%;
    height: 220px;
    background-color: rgb(56, 173, 166);
    color: #ffffff;
}

.ctner h2 p {
    text-align: center;
    font-size: 30px;
}

.ctner h2 p span {
    font-weight: bold;
    text-transform: uppercase;
}

.salary {
    align-items: center;
    justify-content: center;
    place-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.salary-title {
    font-weight: bold;
    color: rgb(56, 173, 166);
    font-size: 30px;
}


.salary-ctn {
    text-align: center;
}

.salary-ctn img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.ementa {
    margin-bottom: 25px;
}

.ementa h1 {
    text-align: center;
    color: #333;
    font-size: 1.7rem;
    padding: 20px 20px;
}

.ementa-lista {
    list-style-type: none;
    padding: 0;
    width: 960px;
    margin: 0 auto;
    color: #ffffff;
}

#ementa-lista {
    display: inline-block;
    text-align: start;
    align-items: center;
    background-color: rgb(56, 173, 166);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 18px;
    width: 400px;
    max-width: 100%;
}


/* devices */
.platform-section {
    background-color: #008000;
    color: #ffffff;
    padding: 20px;
}

.platform-content {
    margin: auto;
    text-align: center;
    max-width: 1200px;
}

.platform-content p {
    display: flex;
    align-items: center;
}

.device {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.device img {
    width: 100%;
    max-width: 800px;
}

/* carrossel */

.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 800px;
}

.carousel-wrapper {
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-wrapper p {
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 33.33%;
    max-width: 50%;
    margin: 0 10px;
}

.carousel-slide img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.carousel-button {
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* BOTÕES */
#button {
    border: none;
    font-style: inherit;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff7b00;
    padding: 10px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #ffffff;

}

#button:hover {
    background-color: #ff4400d3;
    transition: .5s;
}

/* videos section */
.ytb {
    background-color: rgb(242, 242, 242);
    padding: 40px 0;
    text-align: center;
}

.ytb span {
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 20px;
    display: block;
}

.ytb .highlight {
    color: #38ADA6;
}

.video-thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    cursor: pointer;
    margin: 10px;
    width: 300px;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.5);
}

.modal {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
}

.close {
    float: right;
    font-weight: bold;
    color: #aaa;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* album */

.album-container .text-container {
    align-items: center;
    display: flex;
    background-color: #38ADA6;
    height: 400px;
}

.text-container {
    display: flex;
}

.album-container h2 {
    color: #ffffff;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    font-size: 3rem;
    max-width: 100%;
    font-weight: 400;
    padding: 30px 0;
    padding-bottom: 50px;
}

.album-container h2 span {
    font-weight: bold;
    text-align: center;
}

.album-img-container {
    background-size: cover;
    overflow: hidden;
    border-radius: 8px;
    max-width: 100%;
    transform: translateY(-15%);
}

.photo {
    width: 600px;
    border-radius: 5px;
}


.garantia {
    color: #ffffff;
    width: 100%;
    height: 337px;
    background-color: rgb(60, 67, 68);
    font-size: 30px;
    max-width: 100%;
}


.garantia h1 {
    font-weight: bold;
}

.garantia h1 span {
    font-weight: bold;
    color: #BAC302;
}

.garantia #text {
    font-weight: bold;
}

.garantia-img img {
    display: inline-block;
    width: 300px;
}

.ingressar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 5px;
    margin-bottom: 5%;
    filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1) invert(0) sepia(0) blur(0px) grayscale(0) drop-shadow(rgb(107,107,107) 0px 0px 58px)
}

.card {
    background: #F2F2F2;
    width: 100%;
    height: 100%;
}

.text-chamativo {
    text-align: center;
    margin-top: 15%;
    border-radius: 5px;
    color: #38ADA6;
    
}

.ingressar-text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 205px;
    border-radius: 5px 5px 0 0;
    background-color: #38ADA6;
}

.ingressar-text h2 {
    font-weight: bold;
}

.ingressar-text img {
    width: 75px;
    align-items: center;
}

.ingressar-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 368px;
}

.ingressar-lista {
    text-align: start;
    font-size: 0.9rem;
    
}

#lista {
    text-align: start;
    margin: 10px 2px;
}

p#lista {
    margin: 0;
    padding: 2px;
}

.price {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
    height: 115px;
    background-color: #38ADA6;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.price p {
    font-size: 0.6;
}

.price-value {
    font-size: 1.7rem;
    font-weight: bold;
    color: #ffffff;
}

#second-paragraph {
    color: #000000;
    padding: 2p3px;
}

#curso-access {
    display: flex;
    font-weight: bold;
    background-color: transparent;
    font-size: 1.7rem;
    padding: 10px 20px;
    color: #38ADA6;
}
.ingressar-button {
    background-color: #ff5722;
    color: white;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.ingressar-button:hover {
    background-color: #e64a19;
}

.faq {
    background-color: #F2F2F2;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-card {
    background-color: #38ADA6;
    cursor: pointer;
    text-align: start;
    font-size: 1.3rem;
    width: 460px;
    border-radius: 5px;
    margin: 3px;
    padding: 4px;
}

.faq-card span, p {
    text-align: start;
}

.faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
}

.faq-card:hover {
    color: #000000;
    transition: .5s;
}


.faq-answer {
    display: none;
    margin: 5px;
    transition: opacity 0.5 ease;
}

.show-answer {
    display: block; 
    opacity: 1;
}

.faq-title {
    display: flex;
    flex-direction: column;
}

.faq-card p {
    font-size: .9rem;
    color: black;
}


.faq-title h1{
    color: #3C4344;
    font-size: 1.8rem;
}

.faq-title h2 {
    color: orangered;
}

.arrow{
    float: right;
}

.show-answer .arrow {
    transform: rotate(180deg);
}
.black-text {
    color: black; /* Define a cor do texto como preto */
}

.rotated {
    transform: rotate(180deg);
    transition: .3s;
}

footer {
    background-color: #333333;
    height: 110px;
    display: flex;
}

footer img {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100px;
}

/* responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    .carousel-slide {
        min-width: 100%;
    }

    .video-content {
        padding: 0 20px;
    }

    .ctner h2 p, .text-container p {
        font-size: 1.5em;
    }

    .video-thumbnails .thumbnail {
        width: 100%;
        max-width: 200px;
    }

    .modal-content {
        width: 90%;
    }
}


@media only screen and (max-width: 768px) {
    .garantia {
        font-size: 20px; /* Reduzir o tamanho da fonte para dispositivos menores */
    }
}